body {
	font-family: Sans-Serif;
}

iframe {
	border: none;
}

div.about {
	margin-top: 2em;
	color: #666666;
}

div.about a {
	color: #000066;
	text-decoration: none;
}

div.error {
	font-size: 150%;
	font-weight: bold;
	color: #ee0000;
}

pre {
	margin-bottom: 2em;
}

span.optional,
span.notes {
	color: #666666;
}

div.break {
	height: 1em;
}

div.field {
	margin-top: 0.3em;
	margin-bottom: 0.6em;
}

.container {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

#display {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input, select, .button {
	display: inline-block;
	width: 50em;
	max-width: 100%;
	min-height: 1.8em;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 90%;
	text-align: center;
	vertical-align: middle;
}

input[type="text"],
input[type="number"] {
	width: 49em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: left;
	box-sizing: border-box;
}

input[type="submit"], .button {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	cursor: pointer;
	box-shadow: none;
	padding-top: 0.9ex;
	padding-bottom: 0.9ex;
}

.button {
	padding-top: 1.1ex;
	padding-bottom: 0;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}

input[type="submit"]:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

div.notes {
	margin-top: 4em;
}

div.notes ul {
	margin-top: 1em;
}
