body {
	font-family: Sans-Serif;
}

iframe {
	border: none;
}

div.about {
	margin-top: 2em;
	color: #666666;
}

div.about a {
	color: #000066;
	text-decoration: none;
}

div.error {
	font-size: 150%;
	font-weight: bold;
	color: #ee0000;
}

pre {
	margin-bottom: 2em;
}

span.optional,
span.notes {
	color: #666666;
}

div.break {
	height: 1em;
}

div.field {
	margin-top: 0.3em;
	margin-bottom: 0.6em;
}

input, select {
	width: 20em;
	max-width: 100%;
	min-height: 1.8em;
}

/*
input, select {
	border: 1px solid black;
	display: block;
}
*/

div.notes {
	margin-top: 4em;
}

div.notes ul {
	margin-top: 1em;
}
